---
import { getCollection } from "astro:content";
import RootLayout from "@/layouts/RootLayout.astro";

const allPosts = await getCollection("post");
const categorys = [...new Set(allPosts.map((post) => post.data.category))];

const postsByCategory = categorys.map((category) => {
    return {
        category,
        posts: allPosts.filter((post) => post.data.category === category),
    };
});
---

<RootLayout title="Categorys">
    <div class="grid justify-center">
        <div class="w-[85vw] max-w-2xl">
            <h1 class="text-4xl my-4">Category:</h1>
            <div class="flex flex-wrap space-x-2"></div>
        </div>
    </div>
</RootLayout>
