---
import { DESCRIPTION } from "@/config";
---

<footer>
    <div
        class="flex justify-center items-center mt-20 mb-10 space-x-3 flex-wrap"
    >
        <span>{DESCRIPTION}</span>
        <span>|</span>
        <span
            >Powered by
            <a href="https://astro.build/" target="_blank">Astro</a>
        </span>
        <span>|</span>
        <span
            >View source on <a
                href="https://github.com/risuntsy/null"
                target="_blank">Github</a
            ></span
        >
    </div>
</footer>
