---
import RootLayout from "./RootLayout.astro";

interface Props {
    title: string;
    lang: string;
}

const { title, lang } = Astro.props;
---

<RootLayout title={title} lang={lang}>
    <div class="grid justify-center">
        <div class="w-[85vw] max-w-2xl">
            <slot />
        </div>
    </div>
</RootLayout>
