---
import type { CollectionEntry } from "astro:content";

import RootLayout from "./RootLayout.astro";
import Post from "@/components/post/Post.astro";

interface Props {
    post: CollectionEntry<"post">;
    lang: string;
}

const { post, lang } = Astro.props;
---

<RootLayout title={post.data.title} lang={lang}>
    <div class="grid justify-center">
        <Post post={post} />
    </div>
</RootLayout>
