---
import BaseBody from "@/components/html/BaseBody.astro";
import BaseHead from "@/components/html/BaseHead.astro";
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";
import { DESCRIPTION } from "@/config";

interface Props {
    title: string;
    lang: string;
}

const { title, lang } = Astro.props;
---

<html lang={lang}>
    <BaseHead title={title} description={DESCRIPTION} />
    <BaseBody>
        <Header />
        <div class="grid my-10">
            <slot />
        </div>
        <Footer />
    </BaseBody>
</html>
